body {
    background-color: blueviolet;
}

h1,h2,h3,h4 {
    color: white;
    text-align: center;
}

.container {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.container .row {
    width: 100%;
}